body {
    height: 100%;
    font-family: "Poppins", sans-serif;
    cursor: default;
    scroll-behavior: smooth;
}

.budget-body {
    width: 1100px;
    margin: 0 auto;
    margin-top: 3.6rem;
}

.budget-body h2 {
    margin-top: 3.6rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.3px;
    line-height: 125%;
    color: #232323e3;
    text-align: left;
    margin-bottom: 1.5rem;
    text-transform: capitalize;
}

.budget-container {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(3, minmax(400px, 1fr));
    align-items: center;
    justify-content: space-between;
}

.budget-container .box {
    padding: 1.4rem 1.4rem;
    border-radius: 1rem;
    border: 2px solid #23232317;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer;
    transition: all 500ms ease-in-out;
}

.budget-container .box:hover {
    background-color: #26397e26;
}

.box .box-heading {
    font-size: 1.4em;
    letter-spacing: 0.6px;
    line-height: 125%;
    margin-top: 1em;
    margin-bottom: 0.25em;
    color: #232323e3;
    font-weight: 600;
}

.box .box-desc {
    font-size: 1em;
    letter-spacing: 0.3px;
    line-height: 125%;
    color: #5e5e5e;
    text-align: left;
    margin-bottom: 0.25em;
    font-weight: 400;
}

.box .button-group {
    margin-top: 1.8rem;
    text-align: end;
    margin-right: 1rem;
}

.button-group .chevron-right-btn {
    background-color: var(--primary-color);
    padding: 1.4rem;
    border-radius: 5rem;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 500ms ease-in-out;
}

.button-group .chevron-right-btn:hover {
    background-color: #586dbb;
}

.box:hover .chevron-right-btn {
    background-color: #586dbb;
}


/* MODAL BOX */
/* DIALOG BOX */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.form-container {
    background-color: #fff;
    padding: 2.4rem 2.8rem;
    border-radius: 0.5rem;
    border: 2px dashed #6f6f6f4f;
    overflow: visible;
    overflow-y: auto;
    width: 80vw;
    height: 80vh;
}

.form-container h3 {
    font-size: 1.4em;
    letter-spacing: 0.3px;
    line-height: 125%;
    color: #232323e3;
    text-align: left;
    margin-bottom: 0.25em;
    font-weight: 600;
    margin-bottom: 1.8rem;
}

.data-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(400px, 1fr));
    gap: 1.2rem;
}

.data-container .chart-box {
    padding: 1.4rem 1.4rem;
    border-radius: 0.75rem;
    background-color: #f3f5ff;
    border: 2px solid #23232317;
    height: 256px;
}

.form-actions {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.8rem;
}

.form-actions .save-btn {
    outline: none;
    border: none;

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.8em 1.5rem;
    border-radius: 0.25em;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 400ms ease-in-out;
}

.form-actions .save-btn:hover {
    background-color: #586dbb;
    border-color: #586dbb;
}

.form-actions .cancel-btn {
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--primary-color);
    font-weight: 500;
    text-transform: uppercase;
    transition: all 400ms ease-in-out;

    padding: 0.8em 1.2rem;
    border-radius: 0.25em;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    background-color: #fff;
}

.form-actions .cancel-btn:hover {
    background-color: #eef0f8;
}